<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
        />
        <script src="https://kit.fontawesome.com/389c8e1dce.js" crossorigin="anonymous"></script>



		<title>Welcome <%=userLoged.name %></title>
	</head>
	<body class="bg-info">

        <div class=" mt-5 d-flex justify-content-around m-2">
            <h3 class="text-primary text-capitalize"><%= userLoged.name %> <%=userLoged.lastname %></h3>

            <a href="/logout" class="btn btn-danger">Sign out    <i class="fas fa-sign-out-alt"></i> </a>
        </div>

		<h2 class="m-4">Entry Post</h2>

		<form action="/post" method="POST">
			<div class="form-floating m-4">
				<textarea
					style="height: 200px"
					class="form-control"
					placeholder="Leave a comment here"
					id="floatingTextarea"
					name="post"
				></textarea>
				<label for="floatingTextarea">Write Something...</label>
				<button type="submit" class="mt-2 btn btn-dark text-ligth">Send Post</button>
			</div>
		</form>

		<h2 class="text-center">My posts</h2>
		<div class="cardsContainer d-flex flex-wrap justify-content-center">
			<% posts.forEach((post,inx)=>{ %>

			<div class="card text-dark bg-warning m-5" style="width:350px">
				<div class="card-header"><i class="far fa-clipboard"></i> Post <%=inx+1%> </div>
				<div class="card-body">
					<h5 class="card-title"><%=post.dataValues.date%></h5>
					<p class="card-text"><%=post.post%></p>
				</div>
			</div>

			<% }) %>
		</div>

		<button id="getAllPosts" class="mx-auto btn btn-primary	d-block " style="width: 30%;">All users posts</button>

		<script src="js/home.js"></script>
	</body>
</html>
